<nav class="w-100% sticky bottom-0 h-20">
  <header class="w-100 bg-slate-100 h-fit flex px-4 justify-between box-shadow-lg ">
    <a href="/" class="p-4 flex flex-col items-center">
      <i class="
      text-xl
      ri-home-3-line
       "> </i>
      <small>Home</small>
    </a>
    <a href="/createProduct" class="p-4 flex flex-col items-center">
      <i class="
      text-2xl
      ri-add-line
       "> </i>
      <small>Add product</small>
    </a>


    <a href="/profile" class="p-4 items-center justify-center flex  flex-col items-center">
      <i class="
      text-xl
      ri-user-line
     
      opacity-75
       "> </i>
      <small>Profile</small>
    </a>
  </header>
</nav>

</body>

</html>