<%- include('partials/header') %>

<style>
  #preview {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    max-height: 25rem;
    aspect-ratio: 1/1;
    gap: 2rem;
  }

  #preview img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    scroll-snap-align: center;
  }
</style>


<main>
  <section class="p-3">
    <form action="/createProduct" method="post" enctype="multipart/form-data">
      <div class="form-group flex flex-col gap-2 mb-3">
        <label for="name">Name</label>
        <input class="form-control
        border-2
        border-slate-300
        rounded-lg
        p-2
        w-full
       border-none
       outline-none
        " id="name" type="text" name="name" placeholder="Enter product name">
      </div>
      <div class="form-group flex flex-col gap-2 mb-3">
        <label for="price">Price</label>
        <input class="form-control
            border-2
            border-slate-300
            rounded-lg
            p-2
            w-full
         border-none
         outline-none
            " id="price" type="number" name="price" placeholder="Enter product price">
      </div>
      <div class="form-group flex flex-col gap-2 mb-3">
        <label for="description">Description</label>
        <textarea class="form-control
                border-2
                border-slate-300
                rounded-lg
                p-2
                w-full
             border-none
             outline-none
                " id="description" name="description" placeholder="Enter product description"></textarea>
      </div>
      <div class="form-group flex flex-col gap-2 mb-3">
        <label for="image">Image</label>
        <input class="form-control
                                    border-2
                                    border-slate-300
                                    rounded-lg
                                    p-2
                                    w-full
                             border-none
                             outline-none" id="image" type="file" name="image" accept="image/*" multiple onchange="previewImages(event)" max="5">
      </div>

      <div id="preview" class="flex items-center overflow-x-auto"></div>

      <script>
        function previewImages(event) {
          var preview = document.getElementById('preview');
          preview.innerHTML = '';
          if (event.target.files.length > 5) {
            alert('You can select only 5 images');
            event.target.value = '';
          } else {
            for (let i = 0; i < event.target.files.length; i++) {
              let reader = new FileReader();
              reader.onload = function() {
                let img = document.createElement('img');
                img.src = reader.result;
                preview.appendChild(img);
              };
              reader.readAsDataURL(event.target.files[i]);
            }
          }
        }
      </script>

      <button class="w-full p-2 px-4 bg-slate-500 rounded-md text-white">create product</button>

    </form>

  </section>
</main>


<%- include('partials/footer') %>